.elementor-1092 .elementor-element.elementor-element-4b9b0df>.elementor-container {max-width: 500px;}
.elementor-1092 .elementor-element.elementor-element-4b9b0df {padding: 10%;}
.elementor-1092 .elementor-element.elementor-element-d2e51ef .elementor-heading-title {color: #faf5eb;font-family: "Riccione Serial",Sans-serif;font-size: 58px;font-weight: 700;}
.elementor-1092 .elementor-element.elementor-element-1d22a05 .elementor-text-editor {text-align: left;}
.elementor-1092 .elementor-element.elementor-element-1d22a05 {color: #faf5eb;font-size: 20px;}
#elementor-popup-modal-1092 .dialog-message {width: 640px;height: auto;}
#elementor-popup-modal-1092 {justify-content: center;align-items: center;}
#elementor-popup-modal-1092 .dialog-close-button {display: block;}
#elementor-popup-modal-1092 .dialog-widget-content {background-color: #9a1b26;box-shadow: 2px 8px 23px 3px rgba(0,0,0,.2);}
#elementor-popup-modal-1092 .dialog-close-button i {color: #dbdbdb;}
@media (max-width:767px) {.elementor-1092 .elementor-element.elementor-element-d2e51ef .elementor-heading-title {font-size: 34px;}
	.elementor-1092 .elementor-element.elementor-element-1d22a05 {font-size: 15px;line-height: 1.3em;}
	#elementor-popup-modal-1092 .dialog-close-button {top: 0;font-size: 26px;}}