.icon-icons_department-store-copy-3:before {content: "";}
.icon-icons_do-it-yourself-copy-3:before {content: "";}
.icon-icons_drugstore-copy-3:before {content: "";}
.icon-icons_supermarket-copy-3:before {content: "";}
.icon-icons_convenience-store-copy-3:before {content: "";}
.icon-icons_specialty-store-segment-copy-3:before {content: "";}