.icon-icons_expanded_convenience-store:before {content: "";}
.icon-icons_expanded_department-store:before {content: "";}
.icon-icons_expanded_do-it-yourself:before {content: "";}
.icon-icons_expanded_drugstore:before {content: "";}
.icon-icons_expanded_specialty-store-segment:before {content: "";}
.icon-icons_expanded_supermarket:before {content: "";}